@import "vars";

$border-radius: .4rem;
$btn-wrap-color: #ECEEED;

.link {
  border: 0;
  background-color: transparent;
  color: $green;
  transition: .1s;
  padding: 0;
  text-align: left;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    color: $font-color-light;
    opacity: .7;
    pointer-events: none;
  }
}

.btn,
.btn.mat-raised-button,
.btn.mat-button {
  overflow: hidden;
  padding: 5px 15px;
  box-shadow: none;
  font: {
    family: $base-ff;
    size: 14px;
  }

  &:focus {
    box-shadow: none;

    * {
      outline: none;
    }
  }

  &--primary {
    background: {
      color: $green;
    };
    border-radius: $border-radius;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;
      color: $white;
    }

    .mat-button-wrapper,
    span {
      line-height: 1.9rem;
      letter-spacing: .1rem;
      color: $white;
    }
  }

  &--secondary {
    padding: 1.5rem 2rem;
    background-color: #F1F3F2;

    .mat-button-wrapper,
    span {
      line-height: 1.9rem;
      letter-spacing: .1rem;
      color: $font-color;
    }
  }

  &.btn--icon {
    padding: 1.2rem;
    background-color: $btn-wrap-color;
    border-radius: $border-radius;
    height: 4rem;
    width: 4rem;

    .mat-button-wrapper {
      max-height: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mat-icon {
      display: flex;
      color: $font-color;
      width: 2rem;
      height: 2rem;
    }

    &[disabled] {
      opacity: .5;
      pointer-events: none;
    }

    &-transparent {
      background-color: transparent;
      padding: 1.2rem;
      min-width: 2.5rem;
      min-height: 2.5rem;

      .mat-icon {
        width: 1.5rem;
        height: 1.5rem;
        color: $font-color-light
      }
    }
  }

  + .btn {
    margin-top: 2.8rem;
    @media(min-width: $bp-md) {
      margin-top: 0;
      margin-left: 1.6rem;
    }
  }
}

.btn-group {
  background-color: $btn-wrap-color;
  border-radius: $border-radius;
  padding: .2rem;

  .btn--icon,
  .btn--icon:not(:first-child),
  .btn--icon:not(:last-child):not(.dropdown-toggle) {
    padding: 0;
    border: {
      top-left-radius: $border-radius;
      top-right-radius: $border-radius;
      bottom-left-radius: $border-radius;
      bottom-right-radius: $border-radius;
    }
    min-height: 4rem;
    min-width: 4rem;

    .mat-icon {
      color: $font-color-light;
    }

    &.active {
      background-color: $white;

      .mat-icon {
        color: $font-color;
      }
    }

    + .btn {
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.mat-menu-content {
  padding: 0;

  .mat-menu-item {
    .mat-icon {
      margin-right: 0;
    }

    &[disabled] {
      opacity: .5;
      pointer-events: none;
    }
  }
}

