$green: #B8C059;
$black: #34363F;
$light-blue: #97a4ae;
$white: #ffffff;
$red: rgb(232, 80, 49);
$font-color: #1D201F;
$font-color-light: rgb(134, 149, 143);
$fw-r: 400;
$fw-m: 500;
$fw-sb: 600;
$fw-b: 700;

$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 991px;
$bp-lg: 1180px;
$base-ff: "Poppins";
